.form {
  padding: 32px;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  width: 640px;
  height: 488px;
  margin-top: 40px;
}

.title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 24px;
  color: #8d929a;
}

.input,
.textarea {
  width: 100%;
  background-color: #f7f7f7;
  padding: 12px 20px;
  color: #101828;
  border-radius: 12px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  margin-bottom: 16px;
}

.textarea {
  resize: vertical;
  margin-bottom: 24px;
}

.button {
  align-self: center;
  padding: 12px 51px;
  width: 156px;
}

.calendar {
  z-index: 1000;
}
